devel/
build/
src/CMakeLists.txt
.catkin_workspace
*.pyc

# ignore models
src/object_detection/models/*
!src/object_detection/models/.gitkeep

# ignore bagfiles
src/lane_detection/bagfiles/*.bag
!src/lane_detection/bagfiles/download_bagfile.sh
*.bag