devel/
build/
src/CMakeLists.txt
.catkin_workspace

# ignore models
src/object_detection/models/vdi_adc/*
!src/object_detection/models/vdi_adc/ssd-mobilenet.onnx
!src/object_detection/models/vdi_adc/labels.txt
