<robot name="mxcarkit">

  <!-- Default ROS orientation: (x-forward, y-left, z-up). 
      RPY rotations are applied sequentially, with each previous rotation 
      affecting the subsequent rotation's axis. -->

  <!-- Base link (Rear Axle)-->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>

  <!-- Front Axle link -->
  <link name="front_axle">
    <visual>
      <origin xyz="0.36 0 0" rpy="0 0 0" />  
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>

  <!-- Joint connecting rear axle to front axle -->
  <joint name="front_axle_joint" type="fixed">
    <origin xyz="0.36 0 0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="front_axle"/>
  </joint>

  <!-- Lidar link -->
  <link name="laser">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- Lidar joint -->
  <!-- LiDAR is rotated by 225 degrees (180 + 45 degrees) -->
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0.1915 0 0.0865" rpy="0 0 3.9270"/>
    <parent link="base_link"/>
    <child link="laser"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Camera link -->
  <link name="camera_rgb">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- Camera joint -->
  <joint name="camera_joint" type="fixed">
    <origin xyz="0.19 0.06 0.116" rpy="-1.5708 0 -1.5708"/>
    <parent link="base_link"/>
    <child link="camera_rgb"/>
  </joint>

  <!-- USS_SRF link -->
  <link name="USS_SRF">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_SRF joint -->
  <joint name="USS_SRF_joint" type="fixed">
    <origin xyz="0.26 -0.149 0.022" rpy="0 0 -1.571" />
    <parent link="base_link"/>
    <child link="USS_SRF" />
  </joint>

  <!-- USS_SRB link -->
  <link name="USS_SRB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_SRB joint -->
  <joint name="USS_SRB_joint" type="fixed">
    <origin xyz="0.115 -0.149 0.022" rpy="0 0 -1.571" />
    <parent link="base_link"/>
    <child link="USS_SRB" />
  </joint>

  <!-- USS_BR link -->
  <link name="USS_BR">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_BR joint -->
  <joint name="USS_BR_joint" type="fixed">
    <origin xyz="-0.074 -0.135 0.046" rpy="0 0 -2.53" />
    <parent link="base_link"/>
    <child link="USS_BR" />
  </joint>

  <!-- USS_BC link -->
  <link name="USS_BC">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_BC joint -->
  <joint name="USS_BC_joint" type="fixed">
    <origin xyz="-0.16 0 0.064" rpy="0 0 3.14" />
    <parent link="base_link"/>
    <child link="USS_BC" />
  </joint>

  <!-- USS_BL link -->
  <link name="USS_BL">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_BL joint -->
  <joint name="USS_BL_joint" type="fixed">
    <origin xyz="-0.074 0.135 0.046" rpy="0 0 2.53" />
    <parent link="base_link"/>
    <child link="USS_BL" />
  </joint>

  <!-- USS_SLB link -->
  <link name="USS_SLB">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_SLB joint -->
  <joint name="USS_SLB_joint" type="fixed">
    <origin xyz="0.115 0.149 0.022" rpy="0 0 1.57" />
    <parent link="base_link"/>
    <child link="USS_SLB" />
  </joint>

  <!-- USS_SLF link -->
  <link name="USS_SLF">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_SLF joint -->
  <joint name="USS_SLF_joint" type="fixed">
    <origin xyz="0.26 0.149 0.022" rpy="0 0 1.57" />
    <parent link="base_link"/>
    <child link="USS_SLF" />
  </joint>

  <!-- USS_FL link -->
  <link name="USS_FL">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_FL joint -->
  <joint name="USS_FL_joint" type="fixed">
    <origin xyz="0.442 0.112 0" rpy="0 0 0.436" />
    <parent link="base_link"/>
    <child link="USS_FL" />
  </joint>

  <!-- USS_FC link -->
  <link name="USS_FC">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_FC joint -->
  <joint name="USS_FC_joint" type="fixed">
    <origin xyz="0.5 0 0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="USS_FC" />
  </joint>

  <!-- USS_FR link -->
  <link name="USS_FR">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0 0 0" />
      </geometry>
    </visual>
  </link>
  <!-- USS_FR joint -->
  <joint name="USS_FR_joint" type="fixed">
    <origin xyz="0.422 -0.112 0" rpy="0 0 -0.436" />
    <parent link="base_link"/>
    <child link="USS_FR" />
  </joint>

</robot>
