<launch>

   	<!--object detection-->
  	<node pkg="object_detection" type="nv_detectnet.py" name="nv_detectnet" required = "true"  output = "screen" />

	<!--lane detection-->
	<!--node name="lane_detection" pkg="lane_detection" type="lane_detection_parking_node.py" output="screen" required = "true"/-->
	<node name="lane_detection" pkg="lane_detection" type="lane_detection_node.py" output="screen" required = "true"/>
  
</launch>



