<launch>

  <arg name="stm_port" default="/dev/stm32_nucleo" />
  <arg name="stm_baud" default="921600" />
  
  <!--serial-->
  <node pkg="rosserial_python" type="serial_node.py" name="rosserial" respawn="true">
    <param name="port" value="$(arg stm_port)" />
    <param name="baud" value="$(arg stm_baud)" />
  </node>

</launch>
