<launch>

  <arg name="run_camera" default="false" />
  <arg name="stream_via" default="zqm" /> <!--zqm or ros-->
  <arg name="run_motors" default="false"/> <!--manual control-->
  <arg name="run_lidar" default="false" /> 
  <arg name="run_micro" default="false" /> <!--microcontroller: us, lights, imu, rc-->
  <arg name="run_pdc" default="false" /> <!--pdc visualization-->
  <arg name="run_imu" default="false" /> <!--calibrate and filter imu data-->
  <arg name="run_rs_imu" default="false" /> <!--publish realsense imu-->
  <arg name="run_foxglove" default="false" /> <!--stream data using foxglove-->
  <arg name="run_lights" default="false" /> <!--turn lights on-->
  <arg name="run_server" default="false" /> <!--launch nodes using foxglove-->

   <!--ports-->
  <arg name="joy_port" value="/dev/input/js0" />
  <arg name="vesc_port" value="/dev/vesc" />
  <arg name="stm_port" value="/dev/stm32_nucleo" />
  <arg name="stm_baud" value="921600" />

  <!--control type-->
  <arg name="control_type" default="rc" /> <!--rc or joy-->

  <!--foxglove topic whitelist-->
  <arg name="whitelist" value=" [\
  '/imu_filtered', \
  '/imu_calibrated', \
  '/pdc_visualization', \
  '/camera/color/image_raw', \
  '/bboxs', \
  '/scan', \
  '/rs_imu' \
  '/uss_values]" />

  <!--camera-->
  <group if="$(arg run_camera)">

    <!--ros image-->
    <group if="$(eval arg('stream_via') == 'ros')">
      <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
        <arg name="color_width" value="320"/> <!--static params-->
        <arg name="color_height" value="180"/>
        <arg name="color_fps" value="6"/>
        <arg name="enable_confidence" value="False"/>
        <arg name="enable_depth" value="False"/>
      </include>
    </group>  
	
    <!--zqm stream-->
    <group if="$(eval arg('stream_via') == 'zqm')">
      <node name="realsense_image_publisher" pkg="realsense_stream" type="realsense_image_publisher.py" output="screen">
          <param name="width" value="640" />
          <param name="height" value="480" />
          <param name="fps" value="15" />
          <param name="port" value="5555" />
          <param name="host" value="localhost" />
      </node>
    </group>

  </group>


  <!--lidar-->
  <group if="$(arg run_lidar)">
    <include file="$(find rplidar_ros)/launch/rplidar.launch" />
  </group>


  <!--vesc-->
  <group if="$(arg run_motors)">
    <include file="$(find vehicle_control)/launch/manual_control.launch">
      <arg name="vesc_port" value="$(arg vesc_port)" />
      <arg name="joy_port" value="$(arg joy_port)"/>
      <arg name="control_type" value="$(arg control_type)"/> <!--rc or joy-->
    </include>
  </group>


  <!--microcontroller-->
  <group if="$(arg run_micro)">
    <include file="$(find mxck_run)/launch/micro_run.launch" >
      <arg name="stm_port" value="$(arg stm_port)"/>
    </include>
  </group>


  <!--pdc visualization-->
  <group if="$(arg run_pdc)">
    <include file="$(find pdc_visualization)/launch/pdc_visualization.launch" />
  </group>


  <!--imu-->
  <group if="$(arg run_imu)">
    <node pkg="imu_control" name="imu_calibrate" type="imu_calibrate.py" output="screen" respawn="true"/>
  </group>

  <!--realsense imu-->
  <group if="$(arg run_rs_imu)">
    <node name="realsense_imu_publisher" pkg="realsense_stream" type="realsense_imu_publisher.py" output="screen">
        <param name="accel_fps" value="200"/>
        <param name="gyro_fps" value="200"/>
    </node>
  </group>

  <!--lights-->
  <group if="$(arg run_lights)">
    <node pkg="light_control" name="switch_lights_on" type="switch_lights_on.py" output="screen" respawn="true"/>
  </group>

  <!--foxglove-->
  <group if="$(arg run_foxglove)">
    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
      <arg name="port" value="8765" />
      <arg name="send_buffer_limit" value="10000000" />
      <arg name="topic_whitelist" value="$(arg whitelist)" />
    </include>
  </group>

  <!--launch server-->
  <group if="$(arg run_server)">
    <node pkg="mxck_run" name="launch_server" type="launch_server.py" output="screen"/>
  </group>
  

</launch>


