<launch>

	<arg name="stm_port" value="/dev/stm32_nucleo" />
	<arg name="stm_baud" value="921600" />
  
	<param name="pdc_output_type" value="live" /> <!--live, publish, to_video-->

	<!--serial-->
	<node pkg="rosserial_python" type="serial_node.py" name="rosserial" required="true">
		<param name="port" value="$(arg stm_port)" />
		<param name="baud" value="$(arg stm_baud)" />
	</node>


    <node pkg="stm32_nucleo" name="add_imu_timestamp" type="add_imu_timestamp.py"/>
    
    

</launch>
