<launch>

	<param name="pdc_output_type" value="live" /> <!--live, publish, to_video-->

	<!--serial-->
	<include file="$(find stm32_nucleo)/launch/launch_nucleo.launch" />

    	<!--pdc visualization-->
	<node pkg="pdc_visualization" type="pdc_visualization.py" name="pdc_visualization" output="screen" respawn="true" />

</launch>
