<launch>
    <node name="realsense_image_publisher" pkg="realsense_stream" type="realsense_image_publisher.py" output="screen">
        <param name="width" value="640" />
        <param name="height" value="480" />
        <param name="fps" value="15" />
        <param name="port" value="5555" />
        <param name="host" value="localhost" />
    </node>
</launch>